* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  font-size: 1em;
}

/* Background */
body{
  background: url(fondo2.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  padding-bottom: 50px;

}
/* Contenedor del nav */
.header {
  position:fixed;
  top: 0;/*cambios aqui*/
  width:100%;
  background: rgba(255, 255, 255, .1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, .2);
}
/* Efecto de reflexion para el nav */
.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
  transition: .5s;
}
/* parte del efecto */
.header:hover::before {
  left: 100%;
}

/* logo del nav */
.header .logo {
  font-size: 1.7rem;
  color: #fff;
  text-decoration: none;
}
/* links del nav */
.nav a {
  position: relative;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
}

/* efecto de subrayo de los links */
.nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .5s;
}

/* parte de los efectos */
.nav a:hover::after {
  transform: scaleX(1);
}

/* Contenedor principal para texto introductorio y forms */
.inicio {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
  margin-top: 100px;
  width: 100%;
  height: 100vh;
  transition: height .2s ease;
}

/* Texto introductorio */
.contenido  {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform .5s;
  width: 50%;
  color: #fff;
}


/* Titulo de la pagina */
.contenido h2 {
  font-size: 2rem;
  letter-spacing: .03rem;
}

/* Margin del texto introductorio */
.contenido p {
  margin: 10px 0 40px;
}

/* Estilo del boton del texto introductorio */
.contenido a{
  color: #fff;
  background:linear-gradient(90deg, transparent, rgba(90, 87, 87, 0.4), transparent);
  box-shadow: 0 8px 10px rgba(56, 52, 52, 0.5);
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 40px;
  font-weight: 500;
  padding: 10px 40px;
  transition: .5s;
  user-select: none;
  width: 300px;
}

/* Parte del estilo del boton */
.contenido a:hover {
  background: #1e0b04;
}


/* Contenedor de forms */
.wrapper {
  width: 400px;
  height: 440px;
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.637);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform .5s ease, height .2s ease;
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  user-select: none;
}
/* .active se agrega al mostrar el register */
.wrapper.active {
  height: 520px;
}

/* pantalla grande */
@media (min-width: 1215px){
  .inicio {
    flex-direction: row;
  }
  .contenido{
    position: absolute;
  }
  .contenido.active{
    transform: translateX(-40%);
  }
  .wrapper{
    position: absolute;
    transform: scaleX(0);
  }
  /* Mostrar el contenedor */
  .wrapper.active-popup {
    transform: scaleX(1) translateX(100%);
  }
  
}
/* pantalla chica */
@media (max-width: 1214px) {
  .inicio {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
  }
  .contenido{
    width: 70%;
    position: absolute;
  }
  .contenido.active{
    transform: translateY(-150vh);
  }
  .wrapper{
    transform: scaleY(0);
  }
  .wrapper.active-popup{
    transform: scaleY(1);
  }
}


/* form-box son el register y login */
.wrapper .form-box {
  width: 100%;
  padding: 40px;
}
/* ocultar el form login al inicio */
.wrapper .form-box.login {
  transition: transform .18s ease;
  transform: translateX(0);
}

/* ocultar el login al elegir register y mostrar el register*/
.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

/* colocar el register a la derecha del login */
.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

/* devolver el register a su poscicion permitiendo que se vea */
.wrapper.active .form-box.register {
  transition: transform .18s ease;
  transform: translateX(0);
}

/* icono X del contenedor de formularios */
.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #162938;/*Cambiar el fondo*/
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
  color: #fff
}

/* titulos de los form */
.form-box h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}

/* contenedores de los inputs */
.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;/*cambiar*/
  margin: 30px 0;
}

/* label de los input */
.input-box label {
position: absolute;
top: 50%;
left: 45px;
transform: translateY(-50%);  
font-size: 1em;
color: #fff;
font-weight: 500;
pointer-events: none;
transition: .5s;
}

/* Levantar el label al escribir */
.input-box input:focus~label,
.input-box input:valid~label {
  font-size: .8rem;
  top: -14px;
  left: 4px;
}

/* estilos de los inputs de los forms */
.input-box input {
  width: auto;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

/* estilos de los iconos dentro de los inputs */
.input-box .icon , span{
  position: relative;
  font-size: 1.2em;
  color: #fff;
  user-select: none;
}

/* es el contenedor de "recuerdame" y "Olvidaste tu contraseña?"*/
.remember-forgot {
  font-size: .9em;
  color: #000000;/*cambiar*/
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

/* estilos para el checkbox */
.remember-forgot label input {
  accent-color: #1e0b04;/*cambiar*/
  margin-right: 3px;
}

/* estilos del contenedor mostrado arriba */
.remember-forgot a {
  color: #000000;/*cambiar*/
  text-decoration: none;
}

/* mostrar un subrayado en el link de olvidaste tu contraseña */
.remember-forgot a:hover {
  text-decoration: underline;
}

/* boron de los forms */
.btn {
  width: 100%;
  height: 45px;
  background:linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);/*cambiar*/
  box-shadow: 0 8px 10px rgba(0, 0, 0, .5);
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

/* Texto "No tenes una cuenta? registrarse/ingresar" */
.login-register {
  font-size: .9em;
  color: #000000;/*cambiar*/
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

/* registrarse/ingresar */
.login-register p span {
  color: #000000;/*cambiar*/
  text-decoration: none;
  font-weight: 600;
}

/* estilos de registrarse/ingresar al realizar hover */
.login-register p span:hover {
  text-decoration: underline;
}
















/*
#formulario-contacto {
  margin: 20px auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #f2f2f2;
}

#formulario-contacto label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
}

#formulario-contacto input[type="text"],
#formulario-contacto input[type="email"],
#formulario-contacto textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
}

#formulario-contacto input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#formulario-contacto input[type="submit"]:hover {
  background-color: #555;
}
